<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{ the_tag }}{{ the_skip }}</title>
    <link rel="shortcut icon" href="{{url_for('static',filename = 'image/logo.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static',filename = 'image/logo.ico')}}" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="color:cornflowerblue;" href="/">TOURS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/"><span class="glyphicon glyphicon-home ">&nbsp;首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">旅游</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li><a href="/tag/跟团游?skip=0&limit=10">跟团游</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/tag/自由行?skip=0&limit=10">自由行</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/tag/自驾游?skip=0&limit=10">自驾游</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
           <form class="navbar-form navbar-left" method="post" action="/search">
                <div class="form-group">
                    <input id = "data" name ="data" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
           {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#">您好！ {{ current_user.user_name }}</a></li>
                    <li><a href="/order">我的订单</a></li>
                <li><a href="/self">私人推荐</a></li>
                <li><a href="/logout">退出</a></li>
                </ul>
            {% else %}
                 <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>







<div class="container">
      <div>
        <h4>分类：{{ the_tag }}</h4>

                {% for product in classify_data %}
                    <div class="col-sm-11 col-md-11">
            <div class="thumbnail" style="height:120px;">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="./subject/">
                            <img src="{{product.picUrl}}" class="img-responsive pull-left" alt="Responsive image"
                                 style=" height:100px;">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <span style="color: #11a3fc"> {{product.name}}</span><br>
                        <span class="label label-success">{{ product.classBrandName }}</span>
                        &nbsp;
                        <span style="color: #3c763d"> 出发城市:</span> {{product.departCity}}
                         &nbsp;
                        <span style="color: #985f0d">满意度:</span> {{product.satisfaction}}%
                         &nbsp;
                        <span style="color: slateblue">出游人数:</span> {{product.travelNum}}人
                         &nbsp;
                        <span style="color: #28a4c9">钻级:</span>{{ product.productLevel }}
                        <br>
                         <span style="color: #28a4c9">推荐理由:</span>{{ product.productFeature }}
                        <br>
                        {% for tag in product.conditionTagCombination %}
                            <span class="label label-info"> {{ tag }}</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
             <div class="thumbnail" style="height:120px;">
                 <span href="./subject/" class=" btn-info pull-right "
                           style="">订购</span>
             <br><br>
                <a href="./subject/{{ product.productId }}" class=" btn-success pull-right " role="button"
                           style="">详情</a>

                <br><br>
                 {% if product.productId  in orders %}
                 <span class="label label-default pull-right">
                     购买过
                 </span>
                 {% endif %}
             </div>
        </div>
                {% endfor %}
    </div>
</div>




<nav aria-label="Page navigation">
    <ul class="pagination ">
        <li>
            <a href="./{{ the_tag }}?skip={{ Previous }}&limit={{ the_limit }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% if the_skip == "0" %}
        <li class="active"><a href="./{{ the_tag }}?skip=0&limit={{ the_limit }}">1</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=0&limit={{ the_limit }}">1</a></li>
        {% endif %}
    {% if the_skip == "10" %}
        <li class="active"><a href="./{{ the_tag }}?skip=10&limit={{ the_limit }}">2</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=10&limit={{ the_limit }}">2</a></li>
        {% endif %}
    {% if the_skip == "20" %}
        <li class="active"><a href="./{{ the_tag }}?skip=20&limit={{ the_limit }}">3</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=20&limit={{ the_limit }}">3</a></li>
        {% endif %}
    {% if the_skip == "30" %}
        <li class="active"><a href="./{{ the_tag }}?skip=30&limit={{ the_limit }}">4</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=30&limit={{ the_limit }}">4</a></li>
        {% endif %}
    {% if the_skip == "40" %}
        <li class="active"><a href="./{{ the_tag }}?skip=40&limit={{ the_limit }}">5</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=40&limit={{ the_limit }}">5</a></li>
        {% endif %}
    {% if the_skip == "50" %}
        <li class="active"><a href="./{{ the_tag }}?skip=50&limit={{ the_limit }}">6</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=50&limit={{ the_limit }}">6</a></li>
        {% endif %}
    {% if the_skip == "60" %}
        <li class="active"><a href="./{{ the_tag }}?skip=60&limit={{ the_limit }}">7</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=60&limit={{ the_limit }}">7</a></li>
        {% endif %}
    {% if the_skip == "70" %}
        <li class="active"><a href="./{{ the_tag }}?skip=70&limit={{ the_limit }}">8</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=70&limit={{ the_limit }}">8</a></li>
        {% endif %}
    {% if the_skip == "80" %}
        <li class="active"><a href="./{{ the_tag }}?skip=80&limit={{ the_limit }}">9</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=80&limit={{ the_limit }}">9</a></li>
        {% endif %}
    {% if the_skip == "90" %}
        <li class="active"><a href="./{{ the_tag }}?skip=90&limit={{ the_limit }}">10</a></li>
        {% else %}
        <li><a href="./{{ the_tag }}?skip=90&limit={{ the_limit }}">10</a></li>
        {% endif %}
        <li>
            <a href="./{{ the_tag }}?skip={{ next }}&limit={{ the_limit }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>
<div class="footer">

    <div class="container">
        <p class="text-center">Copyright &copy; 2018 tiaosiying.</p>
        <p class="text-right"><a href="#top">回到顶部</a></p>

    </div>
</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
<script type="text/javascript" >



    $(function(){

        $(".btn-default").click(function() {

            var like_cion = $(this).find(".glyphicon");
            var movie_id= like_cion.attr("data-class");
            if (like_cion.hasClass("glyphicon-heart-empty")) {
                $.getJSON($SCRIPT_ROOT + '/like',
                        {
                            flag: 1,
                            movieid:movie_id

                        },
                        function (data) {
                           like_cion.removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                        }
                );


            }

            else{
                 $.getJSON($SCRIPT_ROOT + '/like',
                        {
                            flag: 0,
                            movieid:movie_id
                        },
                        function (data) {
                            like_cion.removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                        }
                );


            }


        });
    });
</script>
</body>
</html>