<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <link rel="shortcut icon" href="{{url_for('static',filename = 'image/logo.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static',filename = 'image/logo.ico')}}" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <style type="text/css">
        .single-row {
            width:200px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
        .box_relative {
            position: relative;

            bottom: 5px;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="color:cornflowerblue;" href="/">TOURS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=><a href="/"><span class="glyphicon glyphicon-home ">&nbsp;首页 <span class="sr-only">)</span></a></li>
                <li><a href="#">旅游</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                           <li><a href="/tag/跟团游?skip=0&limit=10">跟团游</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/tag/自由行?skip=0&limit=10">自由行</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/tag/自驾游?skip=0&limit=10">自驾游</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>


            <form class="navbar-form navbar-left" method="post" action="/search">
                <div class="form-group">
                    <input id = "data" name ="data" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#">您好！ {{ current_user.user_name }}</a></li>
                     <li><a href="/order">我的订单</a></li>
                <li><a href="/self">私人推荐</a></li>
                <li><a href="/logout">退出</a></li>
                </ul>
            {% else %}
                 <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">{{ current_user.user_name }} 的个性推荐</a></li>

    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">个性推荐 <span class="glyphicon glyphicon-cloud " title="根据喜欢的旅游生成的推荐!"></span></h3>
        </div>
        <div class="panel-body ">
            <div class="row">
                {% if self_products %}
                       <h4>根据您的订单推荐：</h4>
                    {% for product in self_products %}

                         <div class="col-sm-11 col-md-11">
            <div class="thumbnail" style="height:120px;">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="./subject/">
                            <img src="{{product.picUrl}}" class="img-responsive pull-left" alt="Responsive image"
                                 style=" height:100px;">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <span style="color: #11a3fc"> {{product.name}}</span><br>
                        <span class="label label-success">{{ product.classBrandName }}</span>
                        &nbsp;
                        <span style="color: #3c763d"> 出发城市:</span> {{product.departCity}}
                         &nbsp;
                        <span style="color: #985f0d">满意度:</span> {{product.satisfaction}}%
                         &nbsp;
                        <span style="color: slateblue">出游人数:</span> {{product.travelNum}}人
                         &nbsp;
                        <span style="color: #28a4c9">钻级:</span>{{ product.productLevel }}
                        <br>
                         <span style="color: #28a4c9">推荐理由:</span>{{ product.productFeature }}
                        <br>
                        {% for tag in product.conditionTagCombination %}
                            <span class="label label-info"> {{ tag }}</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
             <div class="thumbnail" style="height:120px;">
                <span  class="order btn-info pull-right "
                           style="" pid="{{ product.productId }}">订购</span>
             <br><br>
                <a href="./subject/{{ product.productId }}" class=" btn-success pull-right " role="button"
                           style="">详情</a>

                <br><br>
                 {% if product.productId  in orders %}
                 <span class="label label-default pull-right">
                     购买过
                 </span>
                 {% endif %}
             </div>
        </div>

                    {% endfor %}
                {% else %}
                     <h4>您没有订单，随机推荐</h4>
                    {% for product in self_random %}
                         <div class="col-sm-11 col-md-11">
            <div class="thumbnail" style="height:120px;">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="./subject/">
                            <img src="{{product.picUrl}}" class="img-responsive pull-left" alt="Responsive image"
                                 style=" height:100px;">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <span style="color: #11a3fc"> {{product.name}}</span><br>
                        <span class="label label-success">{{ product.classBrandName }}</span>
                        &nbsp;
                        <span style="color: #3c763d"> 出发城市:</span> {{product.departCity}}
                         &nbsp;
                        <span style="color: #985f0d">满意度:</span> {{product.satisfaction}}%
                         &nbsp;
                        <span style="color: slateblue">出游人数:</span> {{product.travelNum}}人
                         &nbsp;
                        <span style="color: #28a4c9">钻级:</span>{{ product.productLevel }}
                        <br>
                         <span style="color: #28a4c9">推荐理由:</span>{{ product.productFeature }}
                        <br>
                        {% for tag in product.conditionTagCombination %}
                            <span class="label label-info"> {{ tag }}</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
             <div class="thumbnail" style="height:120px;">
                <span  class="order btn-info pull-right "
                           style="" pid="{{ product.productId }}">订购</span>
             <br><br>
                <a href="./subject/{{ product.productId }}" class=" btn-success pull-right " role="button"
                           style="">详情</a>

                <br><br>
                 {% if product.productId  in orders %}
                 <span class="label label-default pull-right">
                     购买过
                 </span>
                 {% endif %}
             </div>
        </div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>

    </div>



</div>

<div class="footer">

            <div class="container">
                <p class="text-center">Copyright &copy; 2018 tiaosiying.</p>
                <p class="text-right"><a href="#top">回到顶部</a></p>

            </div>
        </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}"></script>


<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
<script type="text/javascript" >



    $(function(){

        $(".btn-default").click(function() {

            var like_cion = $(this).find(".glyphicon");
            var movie_id= like_cion.attr("data-class");
            if (like_cion.hasClass("glyphicon-heart-empty")) {
                $.getJSON($SCRIPT_ROOT + '/like',
                        {
                            flag: 1,
                            movieid:movie_id

                        },
                        function (data) {
                           like_cion.removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                        }
                );


            }

            else{
                 $.getJSON($SCRIPT_ROOT + '/like',
                        {
                            flag: 0,
                            movieid:movie_id
                        },
                        function (data) {
                            like_cion.removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                        }
                );


            }


        });

        $(".glyphicon-cloud").tooltip({
            hide: {
            effect: "explode",
            delay: 250
        }
        });

        $(".glyphicon-refresh").tooltip({
            hide: {
            effect: "explode",
            delay: 250
        }
        });

        $(".glyphicon-refresh").click(function(){
            var bodypane = $('.glyphicon-refresh+.panel-body:first');
            var itm  = bodypane.find(".col-sm-4");
            $.getJSON($SCRIPT_ROOT + '/refresh',
                        {
                            refresh:1

                        },
                        function (data) {
                            $('#00').attr('href','./subject/'+data['0']['id']);
                            $('#01').attr('src',data['0']['url']);
                            $('#02').text(data['0']['name']);
                            $('#03').attr('href','./subject/'+data['0']['id']);
                            $('#04').attr('data-class',data['0']['id']);

                            $('#10').attr('href','./subject/'+data['1']['id']);
                            $('#11').attr('src',data['1']['url']);
                            $('#12').text(data['1']['name']);
                            $('#13').attr('href','./subject/'+data['1']['id']);
                            $('#14').attr('data-class',data['1']['id']);

                            $('#20').attr('href','./subject/'+data['2']['id']);
                            $('#21').attr('src',data['2']['url']);
                            $('#22').text(data['2']['name']);
                            $('#23').attr('href','./subject/'+data['2']['id']);
                            $('#24').attr('data-class',data['2']['id']);

                            $('#30').attr('href','./subject/'+data['3']['id']);
                            $('#31').attr('src',data['3']['url']);
                            $('#32').text(data['3']['name']);
                            $('#33').attr('href','./subject/'+data['3']['id']);
                            $('#34').attr('data-class',data['3']['id']);

                            $('#40').attr('href','./subject/'+data['4']['id']);
                            $('#41').attr('src',data['4']['url']);
                            $('#42').text(data['4']['name']);
                            $('#43').attr('href','./subject/'+data['4']['id']);
                            $('#44').attr('data-class',data['4']['id']);

                            $('#50').attr('href','./subject/'+data['5']['id']);
                            $('#51').attr('src',data['5']['url']);
                            $('#52').text(data['5']['name']);
                            $('#53').attr('href','./subject/'+data['5']['id']);
                            $('#54').attr('data-class',data['5']['id']);
                        }
                );


        });
    });
</script>
</body>
</html>